h1, h2, h3, h4
{
    color: green;
    font-size: 30px;
    margin: 0;
    background-color: aqua;
}
h1
{
    color: coral;
}

.important
{
    color: orchid;
    background-color: red;
}

.uppercase
{
    text-transform: uppercase;
}

#the-one
{
    font-size: 100px;
    color: greenyellow;
}